body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 12px;
    font-weight: 200;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 12px;;
    font-weight: 200;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 12px;
    font-weight: 200;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 12px;
    font-weight: 200;
}

.content{
    background: #ffffff;
}
